html{
    height: 100%;
}

.container-main{
    background-image: url('../Images/Doctor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.row-wrap{
    display: table;
    height: 100%;
    width: 600px;
    margin: 0 auto;
}

.row{
    display: table-cell;
    vertical-align: middle;
    height: 100%;

}

body{
    margin: 0;
    padding: 0;
    color: #fff;

}


.navbar navbar-expand-lg navbar-dark bg-dark{

    font-family: sans-serif;
    font-size: 22px;
    float: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}

.navbar-brand .nav-link {

    font-family: sans-serif;
    font-size: 22px;
    float: left;
    color: #fff;

}
/*.nav-link {
    background-color: #000;
    color: #fff;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42;
    border-radius: 50%;
    margin-right: 8px;

}*/

/*
.nav-link:hover{
    cursor: pointer;
    background-color: #fff;
    color: #00ff00;

}*/