{% load static %}
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        #mydiv{
    margin : 10% 0 0 3%;
    font-family: sans-serif;
    font-size: 19px;
    color: black;
}

body{
    background-image: url({% static '/Images/Medicalimage.jpg' %});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href=#><i class='fa fa-clinic-medical'></i>Doctor App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav mc-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;About
                    Us</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact_us' %}"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact
                    Us</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'patient' %}"><i class="fa fa-bed" aria-hidden="true"></i>Patient
                    Details</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Log
                    out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign
                    Up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Log
                    In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div id="mydiv">
    <strong style="text-align:center;">Contact Info:</strong>
    <p></p>
    <p>Port Rashid Road, Al Mankhool Area, Bur Dubai,</p>
    <p><strong><i class="fa fa-phone" aria-hidden="true"></i>  Phone</strong>: 04 000 0000</p>
</div>
</body>